@import "~normalize.css/normalize.css";

* {
  box-sizing: border-box;
}

body {
  align-items: center;
  background-color: black;
  display: flex;
  font-family: 'Caveat Brush', cursive;
  font-family: 'Boogaloo', cursive;
  height: 100vh;
  justify-content: center;
  position: relative;
  width: 100vw;
}

#canvas {
  cursor: none;
  height: 100%;
  width: 56.25%;
}
